In [430]:
%matplotlib inline
import pandas as pd
import numpy as np
import json
import nltk

In [534]:
with open('/Users/Martina/VINF/out_reducer2-9.txt') as f:
    data = json.load(f)

In [535]:
data = pd.DataFrame(data)

Počet spracovaných záznamov

In [433]:
data_length = len(data)
data_length

390844

### Abstract

In [434]:
data['abstract'].fillna('No abstract', inplace = True)

Počet záznamov bez abstraktu

In [435]:
no_abstract = data['abstract'].value_counts()['No abstract']
no_abstract

44445

In [436]:
data['abstract_len'] = data['abstract'].apply(lambda x: 0 if x == 'No abstract' else len(nltk.word_tokenize(x)))

Abstrakt s najväčším počtom slov

In [437]:
data[['abstract_len']].max()

abstract_len    2937
dtype: int64

In [474]:
data[['title']][(data['abstract_len'] == 2937)]

                                    title
63811  U K  railway  stations   \u2013  b

Abstrakt s najmenším počtom slov

In [439]:
data[['abstract_len']][(data['abstract_len'] > 0)].min()

abstract_len    1
dtype: int64

In [440]:
data[['title', 'key', 'abstract']][(data['abstract_len'] ==3)]

,title,key,abstract
14700,Traditional Korean medicine,http://dbpedia.org/resource/Traditional_Korean...,Traditional Korean medicine
18892,Transport in Ecuador,http://dbpedia.org/resource/Transport_in_Ecuador,Transportation in Ecuador
63810,U K railway stations \u2013 a,http://dbpedia.org/resource/UK_railway_station...,"|},"
98069,United States Army Combined Arms Center,http://dbpedia.org/resource/United_States_Army...,The U.S.
186537,Volcanoes of Mozambique,http://dbpedia.org/resource/Volcanoes_of_Mozam...,Volcanoes of Mozambique
211126,Waffen- S S Commanders,http://dbpedia.org/resource/Waffen-SS_Commanders,Waffen-SS Division Commanders
245418,Wen-bin Chen,http://dbpedia.org/resource/Wen-bin_Chen,Wen-bin Chen (
307316,Wisconsin gubernatorial elections,http://dbpedia.org/resource/Wisconsin_gubernat...,^ Recall Election
359337,Young v Bristol Aeroplane Co Ltd,http://dbpedia.org/resource/Young_v_Bristol_Ae...,Young v.

### Alternative titles

In [444]:
data['alternatives_count'] = data['alternative_titles'].apply(lambda x: len(x))

Počet záznamov, ktoré nemajú žiadny alternatívny nadpis

In [445]:
no_alternatives = data['alternatives_count'].value_counts()[0]
no_alternatives

197278

Záznam s najväčším počtom alternatívnych nadpisov

In [446]:
data[['alternatives_count']].max()

alternatives_count    646
dtype: int64

In [475]:
data[['title']][(data['alternatives_count'] == 646)]

                                           title
348849  Yemeni  detainees  at   Guantanamo   Bay

Záznamy s najmenším počtom alternatívnych nadpisov

In [448]:
data[['alternatives_count']][(data['alternatives_count'] > 0)].min()

alternatives_count    1
dtype: int64

In [449]:
data[['title']][(data['alternatives_count'] == 1)]

                                                    title
3                                            Tony   Roman
5                                           Tony   Romano
14                                        Tony   Rominger
25                                       Tony   Rotherham
27                                         Tony   Rougier
31                                            Tony   Rudy
32                                          Tony   Rumble
45                                          Tony   Sakkis
48                                            Tony   Sale
49                                         Tony   Salerno
59                                         Tony   Sandler
61                                          Tony   Sanneh
71                           Tony   Saunders   (bassist )
73                                          Tony   Sbalbi
74                                        Tony   Sbarbaro
79                                        Tony   Scherman
81                                       Tony   Schiavone
85                                      Tony   Schumacher
91                  Tony   Schwartz   (sound  archivist )
97                       Tony   Scott   (disambiguation )
99                             Tony   Scott   (musician )
105                                         Tony   Scully
107                                        Tony   Secunda
112                                          Tony   Serra
116                                       Tony   Shafrazi
121                         Tony   Shaw   (rugby  union )
127                                       Tony   Shepherd
132                                      Tony   Shillitoe
134                                          Tony   Shore
142                                          Tony   Silva
...                                                   ...
390718                                         Zymography
390719                                          Zymohiria
390720                                           Zymologa
390735                           Zyndram  of   Maszkowice
390741                                     Zynga   Dallas
390745                                 Zyngier \u00 F3wka
390747                                  Zynoviy   Kovalyk
390748                                      Zynx   Health
390749                                      Zyoba  people
390750                                    Zyon   Cavalera
390753  Zyra  e   Regjistrimit  t \u00 E B   Pasurive ...
390759                                  Zyrion   Traverse
390763                                  Zyryan   District
390771                                    Zys \u0142awice
390779                                          Zytglogge
390783                                  Zythos  avellanea
390786                                    Zythos  erotica
390787                                  Zythos  fastigata
390791                                   Zythos  strigata
390797                                         Zyurangers
390801                                            Zyuzino
390807                               Zyvex   Technologies
390811                                              Zyxin
390812                                            Zyxomma
390821                                            Zyzzyva
390822                              Zyzzyva   (magazine )
390823                                             Zyzzyx
390825                                 Zyzzyxdonta  alata
390828                                             Zzebra
390834                                   Zzyzx   (album )

[95854 rows x 1 columns]

### Categories

In [453]:
data['categories_count'] = data['category'].apply(lambda x: len(x))

Počet záznamov, ktoré nemajú priradenú žiadnu kategóriu

In [454]:
no_categories = data['categories_count'].value_counts()[0]
no_categories

26055

Záznamy s najväčším počtom kategórií

In [455]:
data[['categories_count']].max()

categories_count    201
dtype: int64

In [476]:
data[['title']][(data['categories_count'] == 201)]

                            title
94996  United   Nations   Charter

Záznamy s najmenším počtom kategórií

In [457]:
data[['categories_count']][(data['categories_count'] > 0)].min()

categories_count    1
dtype: int64

In [458]:
data[['title']][(data['categories_count'] == 1)]

                                                    title
100                                Tony   Scott   Andrews
173                                                   NaN
251                                                   NaN
323                                        Tony   Thacker
343                                          Tony   Tilse
443                                                   NaN
462                              Tony   Was  an   Ex- Con
472                                                   NaN
553                            Tony   Young   (director )
560                                           Tony   Zarb
606                                       Tonya   Zavasta
607                                            Tonyahaber
609                                              Tonymore
617                                            Tonyrefail
644     Too   Bright ,   Just   Right ,   Good   Night...
660                                            Too   Cold
664                                            Too   Cool
665                                                   NaN
682                                            Too   Easy
735                                                   NaN
738                          Too   Late  for   Hallelujah
751                                                   NaN
753                          Too   Late  to   Die   Young
811             Too   Much ,   Too   Young ,   Too   Fast
812                                                   NaN
825                                 Too   Much   For   Tv
842                                    Too   Much   Media
852                                   Too   Much   Stereo
869     Too   Much  of  a   Good   Thing   (radio  play )
871                                   Too   Much  to   Do
...                                                   ...
390745                                 Zyngier \u00 F3wka
390746                                              Zynie
390753  Zyra  e   Regjistrimit  t \u00 E B   Pasurive ...
390755                                              Zyras
390770                               Zyryansky   District
390771                                    Zys \u0142awice
390772                                      Zystrognophos
390775                                                NaN
390776                                                NaN
390781                                             Zythos
390793                                                NaN
390794                                           Zytronic
390797                                         Zyurangers
390799                                              Zyuri
390800                                           Zyurunly
390802                                Zyuzino ,   Belarus
390804                                 Zyuzino   District
390806                                     Zyvex   Marine
390812                                            Zyxomma
390814                                  Zyzdrojowa   Wola
390815                                Zyzdrojowy   Piecek
390816                                            Zyzomys
390817                                           Zyzypyge
390819                                                NaN
390820                                         Zyzzogeton
390821                                            Zyzzyva
390825                                 Zyzzyxdonta  alata
390826                                           Zyzzyzus
390831                                         Zzyczesiya
390837                                                NaN

[92237 rows x 1 columns]

Sčítanie hodnôt zo všetkých súborov s dátami

In [548]:
data_length = 4390844

In [544]:
no_abstract = 41957 + 53936 + 44714 + 45798 + 43436 + 43712 + 44623 + 43643 + 44445
no_abstract

406264

In [545]:
no_alternatives = 246149 + 253605 + 252610 + 258734 + 257270 + 263340 + 253720 + 258466 + 197278
no_alternatives

2241172

In [546]:
no_categories = 22719 + 33800 + 31108 + 29299 + 31775 + 28525 + 33480 + 28477 + 26055
no_categories

265238

In [543]:
all_data = 235243 + 221673 + 223496 + 218261 + 218618 + 214881 + 220299 + 219448 + 173530
all_data

1945449

### Celkové štatistiky

Koľko percent záznamov nemalo vyplnený abstrakt

In [549]:
round(no_abstract / data_length * 100, 2)

9.25

Koľko percent záznamov nemalo žiadny alternatívny nadpis

In [550]:
round(no_alternatives / data_length * 100, 2)

51.04

Koľko percent záznamov nemalo priradenú žiadnu kategóriu

In [551]:
round(no_categories / data_length * 100, 2)

6.04

Koľko percent záznamov má vyplnené všetky údaje

In [552]:
round(all_data / data_length * 100, 2)

44.31

Pomocné príkazy

In [465]:
all_data = len(data[(data['categories_count'] > 0) & (data['alternatives_count'] > 0) & (data['abstract'] != 'No abstract')])

In [467]:
alternatives = data[['title', 'alternatives_count']]

In [468]:
alternatives.to_csv(path_or_buf="/Users/Martina/Desktop/file9_alternatives.csv")

In [469]:
categories = data[['title', 'categories_count']]

In [470]:
categories.to_csv(path_or_buf="/Users/Martina/Desktop/file9_categories.csv")

In [471]:
abstracts = data[['title', 'abstract_len']]

In [472]:
abstracts.to_csv(path_or_buf="/Users/Martina/Desktop/file9_abstracts.csv")

### Priemer, modus, medián

In [613]:
data_1 = pd.read_csv('/Users/Martina/Desktop/File_1/file1_categories.csv', index_col="title")
del data_1['Unnamed: 0']
data_1 = data_1.reset_index()

In [614]:
data_2 = pd.read_csv('/Users/Martina/Desktop/File_2/file2_categories.csv', index_col="title")
del data_2['Unnamed: 0']
data_2 = data_2.reset_index()

In [615]:
data_3 = pd.read_csv('/Users/Martina/Desktop/File_3/file3_categories.csv', index_col="title")
del data_3['Unnamed: 0']
data_3 = data_3.reset_index()

In [616]:
data_4 = pd.read_csv('/Users/Martina/Desktop/File_4/file4_categories.csv', index_col="title")
del data_4['Unnamed: 0']
data_4 = data_4.reset_index()

In [617]:
data_5 = pd.read_csv('/Users/Martina/Desktop/File_5/file5_categories.csv', index_col="title")
del data_5['Unnamed: 0']
data_5 = data_5.reset_index()

In [618]:
data_6 = pd.read_csv('/Users/Martina/Desktop/File_6/file6_categories.csv', index_col="title")
del data_6['Unnamed: 0']
data_6 = data_6.reset_index()

In [619]:
data_7 = pd.read_csv('/Users/Martina/Desktop/File_7/file7_categories.csv', index_col="title")
del data_7['Unnamed: 0']
data_7 = data_7.reset_index()

In [620]:
data_8 = pd.read_csv('/Users/Martina/Desktop/File_8/file8_categories.csv', index_col="title")
del data_8['Unnamed: 0']
data_8 = data_8.reset_index()

In [621]:
data_9 = pd.read_csv('/Users/Martina/Desktop/File_9/file9_categories.csv', index_col="title")
del data_9['Unnamed: 0']
data_9 = data_9.reset_index()

In [622]:
data = pd.concat([data_1, data_2, data_3, data_4, data_5, data_6, data_7, data_8, data_9])

Priemer

In [623]:
round(data['categories_count'].mean(axis=0), 2)

3.77

Modus

In [624]:
data['categories_count'].mode()

0    1
dtype: int64

Medián

In [625]:
data['categories_count'].median(axis=0)

3.0